<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ml-2 py-5">
        <div class="info-container">
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
              <div class="resume-container my-3">
                <a class="cv-ic">
                  <i class="fa fa-address-card fa-lg mr-3 fa-2x"> </i>
                </a>
                <p style="display: inline;" class="mr-3">Resume</p>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
              <div class="github-container my-3">
                <i class="fa fa-github fa-lg mr-3 fa-2x"> </i>
                <p style="display: inline;" class="mr-3">Github</p>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
              <div class="linkedin-container my-3">
                <i class="fa fa-linkedin fa-lg mr-3 fa-2x"> </i>
                <p style="display: inline;" class="mr-3">Linkedin</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
