<!-- <div class="single-product-area">
  <div class="zigzag-bottom"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6" *ngFor="let phone of phonesList">
        <div class="single-shop-product">
          <div class="product-upper">
            <img
              src="https://salt.tikicdn.com/cache/200x200/ts/product/38/ce/53/45e99c841c96a1728547eaa4ff01b642.jpg"
              alt="{{ phone.name }}"
            />
          </div>
          <h2 class="product-name">
            <a href="">{{ phone.name }}</a>
          </h2>
          <div class="product-carousel-price">
            <ins>${{ phone.price }}</ins> 
            <del>${{ phone.price + 0 }}</del>
          </div>

          <div class="product-option-shop" (click)="getInfor(phone)">
            <a
              class="add_to_cart_button"
              data-quantity="1"
              data-product_sku=""
              data-product_id="70"
              rel="nofollow"
              >Add to cart</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="container">
  <router-outlet></router-outlet>
</div>