.single-product-area .zigzag-bottom {
  background-color: #f4f4f4;
}

.single-product-area {
  padding: 80px 0 130px;
}

.single-shop-product h2 {
  font-size: 20px;
  margin: 10px 0;
}

.product-carousel-price ins {
  font-weight: 700;
  margin-right: 5px;
  text-decoration: none;
}

.product-carousel-price del {
  color: #787878;
}
.product-carousel-price {
  padding-top: 2em;
}
.product-option-shop {
  margin-top: 15px;
}

.add_to_cart_button {
  background: none repeat scroll 0 0 #5a88ca;
  border: medium none;
  color: #fff;
  padding: 6px 25px;
  display: inline-block;
}
.add_to_cart_button:hover {
  background-color: #222;
  color: #fff;
  text-decoration: none;
}

h2.product-name {
  max-height: 50px;
}

